<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Agencia de viajes</title>
</head>
<body>
	<h3>
		<center>Listado de reservas</center>
	</h3>
	<!--<select name="tipoRequest" id="dropTerminales"-->
	<!--        th:onchange="'window.location.href = \'' + @{/reservas} + '/\' + this.value ' ">-->
	<!--    <option selected="true" disabled>Seleccione la terminal</option>-->
	<!--    <option value="todas">Todas</option>-->
	<!--    <option th:each="tipoRequest : ${tipos}"></option>-->
	<!--</select>-->


	<table class="table table-striped table-sm table-dark">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">ID HOTEL</th>
				<th scope="col">ID USUARIO</th>
				<th scope="col">ID VUELO</th>
				<th scope="col">PRECIO TOTAL</th>
				<th scope="col">N PASAJEROS</th>
				<th scope="col">FECHA</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="r : ${reservas}">
				<td class="align-middle" th:text="${r?.idReserva}"></td>
				<td class="align-middle" th:text="${r?.holtelId}"></td>
				<td class="align-middle" th:text="${r?.userId}"></td>
				<td class="align-middle" th:text="${r?.vueloId}"></td>
				<td class="align-middle" th:text="${r?.totalPrice}"></td>
				<td class="align-middle" th:text="${r?.n}"></td>
				<td class="align-middle" th:text="${r?.localDateTime}"></td>
				<td><a th:href="@{|/reservas/detalle-reserva/${r?.idReserva}|}"><button
							type="submit" class="btn btn-success btn-sm">Ver detalle</button></a></td>
			</tr>
		</tbody>
	</table>
	<div class="form-group">
		<span th:text="${mensaje}"></span>
	</div>

	<br>
	<div>
		<a target="_self" th:href="@{/viajes}">
			<button type="submit" class="btn btn-success btn-sm">Volver
				al menu</button>
		</a>
	</div>
</body>
</html>
